:root{
    --black: #202020;
    --white: #FEF6FF;

    --dominant: #CBCBCB;
    --complement: #949FA7;
    --accent: #43655A;

    --dominant1: #CBCBCB;
    --dominant2: #79EBFC;
    --dominant3: #65FBD2;

    --currency: #F9A01B;
    --combat-height: 300px;
    --highlight-red: #DC143C;
    --highlight-red-shade1: #B22222;
    --highlight-red-shade2: #8B0000;
}

*{box-sizing: border-box;font-family: "Arial", "Times New Roman";}
html,body{height: 100%;margin: 0;padding: 0;}
body{display: flex; flex-direction: column; min-width: 420px; min-height: 480px;background-color: var(--white);}

/* GENERAL */
main{text-align: center; }
.notloggedin{padding-top: 24px;}
.notloggedin a{text-decoration: none; font-size: 32px; color: var(--black);}
.notloggedin a:hover{color: var(--accent);}
.hidden{visibility: hidden;display: none;}
.currency{color: var(--currency);}

/* HEADER */
header{background-color: var(--dominant);min-height: 10%; overflow: hidden;}
.menu-wrap{display: flex;flex-direction: row;justify-content: space-evenly;height: 100%;}
.menu-content{background-color: var(--dominant);color: var(--black);flex-grow: 1;border: none;
    display: flex;justify-content: center;align-items: center;text-decoration: none;color: var(--black); font-size: 32px;}
.menu-content:nth-child(odd){background-color: var(--dominant);}
.menu-content:hover{background-color: var(--dominant2);color: var(--black);}

/* tablety */
@media only screen and (max-width: 800px) {  .menu-content{font-size: 28px;} }

@media only screen and (max-width: 650px) {  .menu-content{font-size: 24px;} }
/* nejmenší možné zařízení*/
@media only screen and (max-width: 320px) {  .menu-content{font-size: 18px;} }




/* Index */
.nadpis-stranky{text-align: center; font-size: 30px; font-weight: bold;}

/* Login */
.login{width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 24px;}
.login label{display: block;
    margin-bottom: 10px;}
.login  input[type="text"], .login  input[type="password"] {
    width: 60%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.login input[type="submit"] {
    width: 60%;
    background-color: var(--dominant);
    color: var(--black);
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
}
.login  input[type="submit"]:hover {
    background-color: var(--complement); color: var(--accent);
}
.login select{
    width: 60%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

/* Main */
.menu-content-wrap{min-height: 90%; max-height: 90%;overflow-x: hidden;}

.main-action-wrap{display: flex; flex-direction: row;}
.main-paragraph{font-size: 28px;font-weight: bold; display: flex;flex-direction: column; align-items: center;}
.main-action{display: flex; flex-direction: column; align-items: center; max-width: 256px; max-height: 290px; margin: 0 auto; padding: 24px;}
.main-action img{height:192px; width:192px;}
.fight-tooltip-text{}

@media only screen and (max-width: 1100px) {  .main-action img {height:128px; width:128px;} }
@media only screen and (max-width: 850px) {  .main-action img {height:96px; width:96px;} }

/* ADMIN */
.admin-main{display: flex;flex-direction: column; flex-grow: 1; justify-content: center;}
.admin-table{width: 80%;}
.admin-tr{justify-content: center;}
.admin-th{}
.admin-object-icon{width: 64px;height: 64px;border-radius: 24px;}
.admin-paragraph{margin: 0 auto; text-align: center; padding: 4px; font-weight: bold; font-size: 24px;}

.admin-edit-character-general-wrap{display: flex; flex-direction: column; justify-content: center;}
.admin-edit-general-table{margin-left: auto;margin-right: auto;}
.admin-edit-character-icon{display: flex; margin: 0 auto; text-align: center; justify-content: center; padding: 24px; border-radius: 60px; width: 256px; height: 256px;}
.admin-edit-character-name{ justify-content: center; text-align: center; font-weight: bold; font-size: 36px;}
.admin-edit-character-stats-title{text-align: center;font-weight: bold; font-size: 28px;}
.admin-edit-character-stats-wrap{display: flex; justify-content: center;}
.admin-edit-characters-name-wrap{display: flex;flex-direction: row; margin: 0 auto;}
.admin-edit-characters-name{display: inline-block;text-align: center; margin: 0 auto; margin-right: 2%; font-weight: bold; font-size: 22px;}

.admin-general-main{margin:0 auto; text-align: center;}
.admin-general-figure{display: inline-block;}
.admin-general-races{}
.admin-general-delete{text-decoration: none; color: red;}
.admin-general-icon{height: 128px;width: 128px;}

.admin-item-wrap{display: flex;flex-direction: column; justify-content: center; margin: 0 auto; text-align: center; width: 100%;}
.admin-item-name{}
.admin-item-image{height: 124px;width: 124px;margin: 0 auto;margin-top: 4px;}

/* About */
.about{margin: 0 auto;}

/* Profile */
.profile-menu{background-color: var(--dominant);width: 100%;height: 10%;display: flex;justify-content: space-evenly;padding-top: 1px;}
.profile-menu-link{outline:1px solid var(--black);background-color: var(--dominant);color:var(--black);display: flex;
    justify-content: center;align-items: center;flex-grow:1;height: 100%;text-decoration: none;font-size: 24px;}
.profile-menu-link:nth-child(odd){background-color: var(--dominant1);}
.profile-menu-link:hover{background-color:var(--dominant2);color:var(--black);}


@media only screen and (max-width: 800px) {  .profile-menu-link{font-size: 22px;} }
@media only screen and (max-width: 650px) {  .profile-menu-link{font-size: 20px;} }
@media only screen and (max-width: 320px) {  .profile-menu-link{font-size: 18px;} }


/* CHARACTER */
.character-container img{width: 90%;height:auto;transition: transform 1s ease;}
.character-container img:hover{transform: scale(1.1);}
.character-container #character-icon:hover{border-radius: 24px;transition: 1s ease;}
.character-container #character-icon{transition: 1s ease;}


.character-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Helmet Icon Icon Neck"
    "Body Icon Icon Belt"
    "Legs Stats Stats Ring"
    "Feet Right-Hand Left-Hand Trinket";

    text-align: center;
    padding: 24px;
    width: 40%;
    margin: 0 auto;
}
.Helmet { grid-area: Helmet; }
.Body { grid-area: Body; }
.Legs { grid-area: Legs; }
.Feet { grid-area: Feet; }
.Neck { grid-area: Neck; }
.Belt { grid-area: Belt; }
.Ring { grid-area: Ring; }
.Trinket { grid-area: Trinket; }
.Right-Hand { grid-area: Right-Hand; }
.Left-Hand { grid-area: Left-Hand; }
.Stats {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Character-Name Character-Name Character-Name"
    "Level Level Level"
    "Xp Xp Xp";
    grid-area: Stats;
}
.Character-Name { grid-area: Character-Name; }
.Level { grid-area: Level; }
.Xp { grid-area: Xp; }
.Icon { grid-area: Icon; }

.character-wrap{width: 100%;display: flex;flex-direction: row; justify-content: space-evenly;}
/* Character STATS */
.character-stats-wrap{padding: 24px; font-size: 36px; text-align: center;width: 50%;}
.level-up{font-size: 28px;font-weight: bold; text-decoration: none; color: var(--accent); transition: 0.1s ease; animation: levelup 1s infinite;}
.level-up:hover{color: var(--black); transition: 0.1s ease; }
@keyframes levelup {
    0% { font-size: 28px; color: var(--highlight-red);}
    50% { font-size: 24px; color: var(--highlight-red-shade1);}
    100% { font-size: 28px; color: var(--highlight-red);}
}



/* SHOP */
.main-tavern{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.tavern-playeritems {background-color: #9b7653; display: grid;width: 50%;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
}
.tavern-shopitems {background-color: #708090;width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 1260px) {
    .tavern-playeritems {background-color: #9b7653; display: grid;width: 50%;
        grid-template-columns: repeat(2, 1fr);
    }
    .tavern-shopitems {background-color: #708090;width: 50%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
.item-container .item-icon{width: 64px;height: 64px;}
.item-container {
    padding: 20px;
    width: 100%;
    max-height: 180px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px auto auto;
    grid-row: auto;
    text-align: center;
    margin: 0 auto;
    border: 1px solid black;
    align-items: center;
    grid-row-gap: 0;
    grid-column-gap: 0;

    text-decoration: none;
    color: #000;
}

img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.item-name {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-weight: bold;
    margin: 0;
}

.item-value {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    color: #F7D358;
    margin: 0;
}
.obal-obrazek-cena{position: relative;}
.item-count {
    position: absolute;
    padding: 2px 5px;
    font-size: 18px;
    color: #000;
}



/* Inventory */
.inventory-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-auto-flow: row;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";

    width: 80%;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
}
.inventory{width: 80%; height: auto;margin: 0 auto;vertical-align: center;}
.inventory-item{position: relative;}
.inventory-item img{width: 100%;height: auto;}
.inventory-item-icon{cursor: pointer;transition: 2s ease;}
.inventory-item-icon:hover{box-shadow: 0 0 30px 15px var(--dominant2); transition: 0.2s ease;}
.inventory-item-pocet{position: absolute;left: 0;color: var(--black); padding: 8px; background-color: var(--dominant); border: 1px solid black}
.isEquippedeffect{box-shadow:  0 0 30px 5px var(--currency); animation: equipped 3s infinite}
.isEquippedeffect:hover{box-shadow: 0 0 30px 15px var(--dominant2); transition: 0.2s ease;}


/* INVENTORY MODAL */
.modal {
    display: none; /* Hide the modal by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* MODAL grid */
.modal-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "ikonka ikonka nazev nazev"
    "ikonka ikonka hodnota hodnota"
    "description description atributy atributy"
    "equip equip atributy atributy";
    text-align: center;
    padding: 24px;
    width: 100%;
    margin: 0 auto;
}
.modal-item{}
.ikonka { grid-area: ikonka;}
.ikonka img{ width: 40%; height: auto;}
.nazev { grid-area: nazev; font-size: 28px;}
.hodnota { grid-area: hodnota; font-size: 22px;}
.atributy { grid-area: atributy; font-size: 22px;}
.description { grid-area: description; }
.equip { grid-area: equip; }
.modal-equip-button{ font-size: 32px;text-decoration: none; color:var(--complement);transition: 0.2s ease;}
.modal-equip-button:hover{color:var(--black); transition: 0.2s ease;}




/* Spellbook */
.spellbook-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "passive firstspell secondspell thirdspell ultimate"
    "spells-catalog spells-catalog spells-catalog spells-catalog spells-catalog"
    "spells-catalog spells-catalog spells-catalog spells-catalog spells-catalog"
    "spells-catalog spells-catalog spells-catalog spells-catalog spells-catalog";

    text-align: center;
    padding: 24px;
    width: 100%;
    margin: 0 auto;
}
.passive { grid-area: passive; display: flex; flex-direction: column; text-decoration: none;}
.firstspell { grid-area: firstspell; display: flex; flex-direction: column; text-decoration: none;}
.secondspell { grid-area: secondspell; display: flex; flex-direction: column; text-decoration: none;}
.thirdspell { grid-area: thirdspell; display: flex; flex-direction: column; text-decoration: none; }
.ultimate { grid-area: ultimate; display: flex; flex-direction: column; text-decoration: none;}
.spells-catalog { display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
    grid-area: spells-catalog;
padding-top: 24px;}
.spells-catalog-spell{width: 100%; display: flex; flex-direction: column;}


/* Spellbook modal */
.spellbook-open-modal{cursor: pointer;}
.spell-name{font-size: 32px; font-weight: bold;}
.spellbook-modal-container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
    "spellbook-icon spellbook-stats"
    "spellbook-action spellbook-description";
    text-align: center;
    padding: 24px;
    width: 100%;
    margin: 0 auto;
}
.spellbook-description { grid-area: spellbook-description;}
.spellbook-icon { grid-area: spellbook-icon; }
.spellbook-icon #itemicon{ width: 128px;height: auto; }
.spellbook-action {
    grid-area: spellbook-action;
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . .";
}
.spellbook-action .modal-actions{}
.spellbook-stats { grid-area: spellbook-stats; }
.spellbook-spell-proklik{text-decoration: none; color:var(--complement);}
.spellbook-spell-proklik:hover{text-decoration: none; color:var(--black);transform: scale(1.05); transition: 0.2s ease;}


/* Interact */
.profile-interact-wrap{}
.profile-interact{display: flex;flex-direction: row;justify-content: space-evenly;padding: 28px;}
.interact-icon{width: 156px;height: 156px;cursor:pointer;}
.interact-paragraph{margin: 0 auto;font-size: 34px; font-weight: bold;text-align: center;}

/* Combat kartička responsive, OLD */
.combat-karticka-obal{display: inline-block;}
.combat-wrap-top{height: var(--combat-height);width: calc(var(--combat-height) * 0.8);background-color: #CCC; display: flex; flex-direction: column; outline: 1px solid black; margin: 0 auto; margin-top: 50px;}
.combat-wrap-bot{height: var(--combat-height);width: calc(var(--combat-height) * 0.8);background-color: #CCC; display: flex; flex-direction: column; outline: 1px solid black; margin: 0 auto; margin-top: 50px;}
.combat-top{height: 50%;width: 100%;display: flex; flex-direction: column; justify-content: center;}
.combat-player-name{width: 100%; height: 14px; text-align: center;margin: 0 auto; font-size: 114%; flex-grow: 1;}
.combat-player-image{height: 64%;width: auto; margin:0 auto; border-radius: 24px; flex-grow: 1; margin-top: 5%;}
.combat-healtbar{width: 80%; background-color: black;height: 6%; margin: 0 auto;}
.combat-bar{background-color: red;width: 100%;height: 100%;position: relative;}
.combat-bot{width: 100%; height: 50%; display: flex; flex-direction: column;}
.combat-bot-upper-actions{display: flex; flex-direction: row;  justify-content: space-evenly; margin:4px; height: 35%;}
.combat-player-action{height: 64%;width: auto; cursor: pointer;}
.combat-bot-spells{display: flex; flex-direction: row;  justify-content: space-evenly; height: 35%;}
.combat-bot-effects{display: flex; flex-direction: row;  justify-content: left; align-items: center; height: 22%; outline: 1px solid black;flex-grow: 1;}
.combat-effect{height: 77%; width: auto;margin: 1%;}

 /*COMBAT INTERFACE OLD*/
.combat-interface-wrap{display: flex;width: 100%; height: 100%; flex-direction: column;}
.combat-interface-top{display: flex;flex-direction: row; justify-content: space-evenly;height: 50%;}
.combat-interface-bot{display: flex;flex-direction: row; justify-content: space-evenly;height: 50%;}
.combat-log{display: flex;flex-direction: column; justify-content: center; background-color: #21FA90; text-align: center;}

/* Combat kartička NEW */


/* COMBAT INTERFACE NEW */
.game-field{width: 100%;height: 100%;margin: 0;padding: 0;box-sizing: border-box;}
.combat-top-section{width: 100%;height: 50%;position: absolute;top: 0; background-color: var(--a-base); display: flex; flex-direction: row;justify-content: space-evenly;}
.combat-bot-section{width: 100%;height: 50%;position: absolute;bottom: 0; background-color: var(--a-base); display: flex; flex-direction: row; justify-content: space-evenly;}
#combat-close{position: absolute; top: 0; right: 0; padding: 24px; text-decoration: none; color: var(--black); font-size: 32px;}
#combat-close:hover{color: var(--complement);}

/* COMBAT FIGHT FUNKCE */
.highlight { border: 3px solid red;
    animation: pulse 1s infinite, color-cycle 1s infinite;
    transform: scale(1);
    transition: transform .2s;}
.highlight:hover{animation: pulse 1s infinite, color-cycle2 .5s infinite;
    transform: scale(1.05);}
@keyframes color-cycle {
    0% { border-color: #000000;}
    50% { border-color: #FF0000;}
    100% { border-color: #000000;}
}
@keyframes color-cycle2 {
    0% { border-color: #0000FF;transform: scale(1);}
    50% { border-color: #0000FF;transform: scale(1);}
    100% { border-color: #0000FF;transform: scale(1);}
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}
.disabled{opacity: 0.5;pointer-events: none;cursor: not-allowed;}
.hidden{visibility: hidden; display: none;}
.effect{opacity: 0.8;}
.effect:hover{opacity: 1;}

/* COMBAT MODAL */
.combat-modal-content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.combat-modal-victory{text-align: center; padding: 24px; font-size: 52px; font-weight: bold;}
.combat-back{margin: 0 auto; text-align: center; padding: 24px;}

/* FOOTER */

.footer{width: 100%;min-height: 80px;height:10%;background-color: var(--barva5);color: white;display: flex;flex-direction: row;justify-content: center;margin:0 auto;}
.footer .footer-link{background-color: var(--dominant);flex-grow: 1;border: none;display: flex;justify-content: center;align-items: center;text-decoration: none;color: var(--black); font-size: 32px;}
.footer .footer-link:hover{background-color: var(--dominant2);color: var(--black);}
